[user]
name = kjirou
email = sorenariblog@gmail.com

[color]
ui = auto

[alias]
b = branch
ci = commit
co = checkout
p = push
st = status
graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[core]
excludesfile = ~/.gitignore.global

[gitflow "branch"]
master = master
develop = develop
[gitflow "prefix"]
feature = feature/
release = release/
hotfix = hotfix/
support = support/
versiontag =

[init]
templatedir = ~/.git_template

[pull]
ff = only
