[user]
name = kjirou
email = youremail@email.com

[color]
ui = auto

[alias]
b = branch
ci = commit
co = checkout
p = push
st = status

[core]
excludesfile = /home/yourhome/.gitignore

[gitflow "branch"]
master = master
develop = develop
[gitflow "prefix"]
feature = feature/
release = release/
hotfix = hotfix/
support = support/
versiontag =

[init]
templatedir = ~/.git_template
